@page
@model Assignment_3_New.Pages_Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].phoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.customerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.customerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.customerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
